.search-wrapper {
  width: 940px;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
 justify-content: center;
  text-align: center;
  margin:0 auto;
  height:100%;
}

.search-wrapper .title {
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.search-wrapper .sub-title {
  margin: 0 0 40px 0;
  font-size: 20px;
  font-weight: 300;
  color: #444;
}
