.search-wrapper {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.search-wrapper .title {
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.search-wrapper .sub-title {
  margin: 0 0 40px 0;
  font-size: 20px;
  font-weight: 300;
  color: #444;
}
